.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 100vw;
    background-color: $offwhite;
    padding-top: 30px;
    padding-bottom: 30px;

    .image {
        img {
            height: 2rem;
        }
    }

    .link {
        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 700px) {
        gap: 0;
        justify-content: space-evenly;

        .image {
            img {
                height: 1rem;
            }
        }

        .link {
            font-size: 0.75rem;
        }

        .auth-name {
            font-size: 0.75rem;
        }
    }
}