.write-post-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .write-post-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        form {
            @include post-form();

            .servings-section {
                display: flex;
                flex-direction: column;

                .error-message {
                    @include form-error-message();
                }
            }

            .category-section,
            .difficulty-section {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .ingredients-group {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .ingredients-list {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .delete-option {
                        margin-left: 5px;
                        color: $warning;
                    }
                }

                .ingredient-section {
                    display: flex;
                    flex-direction: column;

                    .error-message {
                        @include form-error-message();
                    }

                    .ingredient {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
    
                        input {
                            flex: auto;
                        }

                        span {
                            color: $teal;
                        }
                    }
                }
            }

            .directions-group {
                .directions-list {
                    .delete-option {
                        margin-left: 5px;
                        color: $warning;
                    }
                }

                .directions-section {
                    display: flex;
                    flex-direction: column;

                    .error-message {
                        @include form-error-message();
                    }

                    .directions-textarea {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        
                        textarea {
                            width: 100%;
                            box-sizing: border-box;
                        }

                        .add-direction {
                            color: $teal;
                        }
                    }  
                }

            }
            
            .image-section {
                .error-message {
                    @include form-error-message();
                    text-align: start;
                }

                .image-uploaders {
                    display: grid;
                    grid-gap: 21px;
                    grid-template-columns: 200px;
    
                    .recipe-manager-image-wrapper,
                    .image-upload-wrapper {
                        img {
                            width: 100%;
                            height: 120px;
                            object-fit: cover;
                            border-radius: 5px;
                        }
    
                        .image-removal-link {
                            display: flex;
                            justify-content: center;
                            
                            a {
                                font-weight: 700;
                                color: $warning;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            
            .publish-option {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .publish {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        height: fit-content;
                    }
                }
            }

            .submit-button {
                @include form-button();
            }
        }
    }
    
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}