.recipe-detail-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .recipe-detail-wrapper {
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        .title {
            h2 {
                margin-left: 20px;
                font-family: 'Dancing Script', cursive;
            }

        }

        .description {
            font-family: "Libre Baskerville", serif;
        }

        .author-date {
            display: flex;
            gap: 15px;

            .author {
                span {
                    font-weight: 700;
                }
            }

            .date {
                color: $medium-grey;
                border-left: 2px solid $medium-grey;
                padding-left: 15px;
            }

            .edit-delete {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 1.2rem;
                cursor: pointer;

                .edit {
                    color: $teal;
                    transition: 0.15s ease-in-out;

                    &:hover {
                        color: $dark-teal;
                    }
                }

                .delete {
                    color: $warning;
                    transition: 0.15s ease-in-out;

                    &:hover {
                        color: $charcoal;
                    }
                }
            }
        }

        .image {
            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }

        .time-servings {
            display: flex;
            gap: 60px;
            justify-content: center;

            .prep-time,
            .servings {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .ingredients {
            display: flex;
            flex-direction: column;
            gap:10px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    font-family: "Libre Baskerville", serif;
                }
            }    
        }

        .steps {
            display: flex;
            flex-direction: column;
            gap:10px;

            p {
                font-family: "Libre Baskerville", serif;
            }
        }
    }
}