.DraftEditor-root {
    border: 1px solid $teal;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
}

.rdw-embedded-modal {
    left: -180px;
}

.rdw-emoji-modal {
    left: -215px;
}