$teal: #26bfd4;
$dark-teal: #207b88;
$blue: #008dff;
$warning: #922a2a;
$offwhite: #f6f6f6;
$light-grey: #eaeaea;
$medium-grey: #c3c3c3;
$dark-grey: #555555;
$charcoal: #333333;
$light-green: #b9e7e7;