.write-recipe-wrapper {
    display: flex;
    flex-direction: column;

    .write-recipe-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr auto;

        .write-recipe-left-column {
            .image-uploaders {
                display: grid;
                grid-gap: 21px;
                grid-template-columns: 200px;
            }
        }

        .write-recipe-right-column {
            .featured-image {
                .img-preview {
                    width: 200px;
                    height: auto;
                }
            }

            .preview-prep-time-servings {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                align-items: center;
            }
        }
    }
}